<!doctype html>
<html>

<head>
  <title> Temporary login page to verify login functionality </title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<body>

  <!-- Navigation bar -->
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/profile">
            <img alt = "Brand" src="public/brand.png"> <!-- TODO:Check why image doesnt get rendered -->
          </a>
        </div>
        <a href="/logout" class="btn btn-default navbar-btn navbar-right" href="/logout">Logout</a>
      </div>
    </nav>

  </div>

  <div class = "content">
    <div class = "left">
      <ul>
      <ul/>
    </div>
    <div class = "middle">

      <div class="chat_window">
        <ul>
        <ul/>
      </div>

      <div class = "chatform">
        <form action= "" >
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>

    <div class = "right">
      <ul>
      <ul/>
    </div>
  </div>


</body>

</html>
