<!doctype html>
<html>

<head>
  <title> Temporary login page to verify login functionality </title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<body>

  <!-- Navigation bar -->
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/profile">
            <img alt = "Brand" src="public/brand.png"> <!-- TODO:Check why image doesnt get rendered -->
          </a>
        </div>
        <a href="/logout" class="btn btn-default navbar-btn navbar-right" href="/logout">Logout</a>
      </div>
    </nav>

  </div>

  <div class = "content">
    <div class = "left">
      <div class="friendsWindow">
        <p>Friends</p>
        <ul id="friends">
        <ul/>
      </div>
      <div class="groupsWindow">
        <p>Groups</p>
        <ul>
        <ul/>
      </div>
    </div>


    <div class = "middle">
      <div class="chat_window">
        <ul>
        <ul/>
      </div>

      <div class = "chatform">
        <form action= "" >
          <input id="message" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>

    <div class = "right">
      <div class = "findUserForm">
        <form action= "" >
          <input id="search" autocomplete="off" /><button>Find friend</button>
        </form>
      </div>
      <div class="find_window">
        <ul id="users_found">
        <ul/>
      </div>
  </div>

<!-- Script to send server a request to look for friends-->
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var socket = io();
  socket.on('ehlo',function(msg){
    socket.emit('ehlo-response',<%- JSON.stringify(user) %>);
  });
  /*Function to send server request for a friend*/
  $(function () {
    $('.findUserForm form').submit(function(){
      socket.emit('find-user', $('#search').val());
      $('#search').val('');
      return false;
    });
    socket.on('find-user-response', function(users){
      $.each(users,function(index,user){
          $('#users_found').append('<li> <div class="found_user_item"><span class="fa fa-user"></span><p class="name">' + user.name + '</p><button>Add Friend</button><p class="id">' + user.id +  '</p></div></li>');
      });
    });
  });
  /*Send server a specific friend id to add*/
  $(function() {
    $('#users_found').on('click','.found_user_item button',function(){
      var info = {};
      info.otherUser =  $(this).siblings('.id').text();
      info.thisUser = <%- JSON.stringify(user._id) %>;
      info.otherUserName = $(this).siblings('.name').text();
      socket.emit('add-user', info );
      $('#friends').append($(this).closest('li'));
      $('#users_found').empty();
    });
  });
</script>

</body>

</html>
