.content,body,html {
    height: 95%;
}

.left {
    float: left;
    width: 25%;
    height: 100%;
    border-style: solid;
    border-right: thick double #B1D9E5;
    border-left: thick double #B1D9E5;
}

.right {
    float: left;;
    width: 25%;
    height: 100%;
    border-style: solid;
    border-right: thick double #B1D9E5;
    border-left: thick double #B1D9E5;
    display: flex;
    flex-direction:column;
}

.middle {
  position: relative;
  float : left;
  width : 50%;
  height : 100%;
  border-style: solid;
  border-right: thick double #B1D9E5;
  border-left: thick double #B1D9E5;
}

.chat_window{
  overflow-y: scroll;
  height : 95%;
}

.chatForm{
  position: relative;
  bottom : 0;
  background : blue;
  width : 100%;
}

.chatForm form{
  width: 100%;
}

.chatForm form input{
  width: 80%;
}

.chatForm form button{
  width: 20%;
}

.findUserForm{
  width : 100%;
  overflow-y: scroll;
  height:50%;
  border-bottom: thick solid #B1D9E5;
}

.findUserForm form{
  width : 100%;
}

.findUserForm form button{
  width : 35%;
}

.findUserForm form input{
  width : 65%;
}

.friendsWindow{
  height : 50%;
  overflow-y: scroll;
  border-bottom: thick solid #B1D9E5;
}

.groupsWindow{
  height : 50%;
  overflow-y: scroll;
  border-bottom: thick solid #B1D9E5;
}

#usersFound li {
  display: inline-block;
}

#usersFound li p{
  display: block;
}

#friends li {
  cursor: pointer;
}

.active_chat{
  background:  #B1D9E5;
}

.chat_history {
  list-style-type: none;
}

.my_message{
  float : right;
  display: block;
  clear: both;
  word-wrap: break-word;
  overflow-x: hidden;
  white-space: pre-wrap;
  max-width:80%;
}

.other_message{
  float : left;
  display: block;
  clear: both;
  word-wrap: break-word;
  overflow-x: hidden;
  white-space: pre-wrap;
  max-width:80%;
}

.createGroup{
  width : 100%;
  height : 50%;
  overflow-y: scroll;
  border-bottom: thick solid #B1D9E5;
}

.createGroup form {
  width : 100%;
}

.createGroup form input{
  width : 65%;
}

.createGroup form button{
  width : 35%;
}

.createGroup form p{
  width: 35%;
  display: inline-block;
}

#open_group_menu {
  margin: auto;
  width: 35%;
  display: block;
}

.group_name {
  margin-top: 10px;
}

.group_menu{
  display: none;
}

.group_menu_buttons{
  text-align: center;
  display: none;
}

#close_group_menu{
  margin: auto;
  display: inline-block;
}

#create_group{
  margin: auto;
  display: inline-block;
}

#user_for_group p,span{
  display: inline;
}

.warning {
  color: red;
}

#groups{
  list-style: none;
}

#groups p{
  display: block;
}

#groups li{
  border-top: thick double #B1D9E5;
  border-bottom: thick double #B1D9E5;
  cursor: pointer;
}

.notif {
  height: 50px;
  width: 50px;
  text-decoration: none;
  cursor: pointer;
}

.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: white;
  background: red;
  visibility: hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    top: 80%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.fa-close{
  float: right;
  margin-right: 5%;
}
